# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files
.idea/
CMakeLists.txt
anomalyTest.csv
anomalyTrain.csv
cmake-build-debug/
main.cpp
output532.txt
output541.txt
output_menu532.txt
output_menu541.txt